.root{
    -fx-background-color: #101010;
}
.text-area{
    -fx-background-color: #d1d1d1;
    -fx-text-fill: #000000;
}
.label{
    -fx-text-fill: #eaeaea;
}

.button{
    -fx-text-alignment: center;
}

.text-field{
    -fx-background-color: #161616;
    -fx-text-fill: #eaeaea;
}
.back-pane:pressed{

}
.back-pane:hover{
    -fx-border-color: #dadada;
    -fx-border-width: 1px;
    -fx-border-radius: 30px;
}
