.root{
    -fx-background-color: #101010;
}
.text-area{
    -fx-background-color: #d1d1d1;
    -fx-text-fill: #000000;
}
.label{
    -fx-text-fill: #eaeaea;
}

.button{
    -fx-text-alignment: center;
}

.text-field{
    -fx-background-color: #161616;
    -fx-text-fill: #eaeaea;
}

.default-color0.chart-legend-item-symbol{
    -fx-text-fill: #000000;

}
.default-color1.chart-legend-item-symbol{
    -fx-text-fill: #000000;
}
.default-color2.chart-legend-item-symbol{
    -fx-text-fill: #000000;
}

.chart-legend{
    -fx-background-color: #000000;
    -fx-text-fill: #ffffff;
}
.chart-pie-label{
    -fx-text-fill: #000000;
    -fx-fill: #000000;
}

#piechart{
    -fx-text-fill: #000000;
}